<configuration>

 	<property name="HOME_LOG" value="logs/app.log"/>
 	<timestamp key="byDay" datePattern="ddMMyyyy"/>

     <appender name="FILE" class="ch.qos.logback.core.FileAppender">
      <file> logs/log-${byDay}.txt </file>
      <append>true</append>
      <encoder>
         <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
   </appender>

    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
